{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}

<!-- Header -->
<header class="masthead" style="background-image: url('{% static "images/blog-hero.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="mast-heading">
                    <h1 class="mb-1">Welcome to the coach's plan blog</h1>
                    <h3 class="mb-5">
                        <em>"Every busy athlete needs a plan!"</em>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Blog List -->
<section class="content-section bg-light" id="blog-list">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in queryset %}

                <div class="post-preview">
                    <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="post-meta">published: {{ post.publish }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}