{% extends 'base.html' %}
{% load static %}

{% block title %}Coach{% endblock title %}

{% block content %}

<!-- Header -->
<header class="masthead" style="background-image: url('{% static "images/notebook.jpeg"%}')" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="mast-heading">
                    <h1 class="mb-1">Check out all the posts by:</h1>
                    <h3 class="mb-5">
                        <p class='text-uppercase'>{{ coach }}</p>
                        <em class='small'>{{ coach.blurb }}</em>
                    </h3>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Blog List -->
<section class="content-section bg-light" id="blog-list">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                {% for post in queryset %}

                <div>
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>published: {{ post.publish }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}