{% extends 'base.html' %}
{% load static %}

{% block title %}Coach{% endblock title %}

{% block content %}

<!-- Header -->
<header class="d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Welcome to the coach's plan blog</h1>
        <h3 class="mb-5">
            <em>"Every busy athlete needs a plan!"</em>
        </h3>
        <img src="{% static 'images/notebook.jpeg' %}" class="img-fluid mt-2" alt="Responsive image">
    </div>
</header>
<!-- Blog List -->
<section class="content-section bg-light" id="blog-list">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Here are all {{ coach }}'s posts</h2>
                {% for post in queryset %}

                <div>
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>published: {{ post.publish }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}