{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- Header -->
<header class="d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 ">Welcome to the coach's plan!</h1>
        <h3 class="m-5">
            <em>Get battle-tested, proven health and fitness plans written by experienced coaches</em>
        </h3>
        <img src="{% static 'images/planner.jpg' %}" class="img-fluid mt-2" alt="Responsive image">
    </div>
</header>
<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-7 font-weight-600 mb-4">Do you wish you could eat and train like an athlete?</h2>
                <p class="lead">...but haven't a clue where to start?</p>
                <p class="lead">what most people don't realise is that professional athletes have coaches to help them.  Experienced professionals who can point them in the right direction.  "Here's the plan...you follow"</p>
                <p class="lead">With one of our coach's plans, you can get the same advantage!  Find the plan that's best suited to you, and follow it.  It's as simple as that! (apart from actually doing the work)</p>
                <a class="btn btn-primary" href="{% url 'plans:plans-list' %}" role="button">Browse Plans</a>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
