{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">All Plans</li>
{% endblock breadcrumb %}

{% block title %}Plans{% endblock title %}

{% block content %}

<h1>All Available Plans</h1>
    
<div class="container">
    <div class="row">
        {% for plan in queryset %}
        <div class="col py-3">
            <div class="card">
                <div class="card-body">
                    <img src="{{ plan.image.url }}" class="card-img-top" alt="Plan thumbnail">
                    <h5 class="card-title">{{ plan.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">£{{ plan.price }}</h6>
                    <p class="card-text">{{ plan.description }}</p>
                    <a href="{{ plan.get_absolute_url }}" class="btn btn-success text-uppercase ">Enter</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
