{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'plans:plans-list' %}">All Plans</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ plan.title }}</li>
{% endblock breadcrumb %}

{% block title %}Plan Details{% endblock title %}

{% block content %}

<div class="main">
    <div class="row">
        <section class="col-sm-6 col-md-8">
            <div class="card">
                <div class="card-header">{{ plan.title }}</div>
                <img src="{{ plan.image.url }}" class="card-img-top mx-auto rounded" alt="Plan thumbnail">
                
                <div class="card-body">
                    <p class="card-text">{{ plan.description|linebreaksbr }}</p>
                </div>
                    <div class="mx-auto mb-2">
                    {% if plan_ownership == 'in_cart' %}
                        <a href="{% url 'cart:remove_from_cart' plan.slug %}" class="btn btn-danger">Remove from Cart</a>
                        <a href="{% url 'cart:checkout' %}" class="btn btn-success">Check Out</a>
                    {% elif plan_ownership == 'not_in_cart' %}
                        <a href="{% url 'cart:add_to_cart' plan.slug %}" class="btn btn-success">Add to Cart</a>
                    {% endif %}
                    </div>
            </div>
        </section>
        <aside class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">Sections</div>
                <ul class="list-group list-group-flush">
                    {% for section in plan.section_set.all %}
                    <li class="list-group-item">
                        <a href="{{ section.get_absolute_url }}">
                            {{ section.section_number}}. {{ section.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </aside>
    </div>
</div>

{% endblock content %}