{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'plans:plans-list' %}">All Plans</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{ section.plan.get_absolute_url }}">{{ section.plan.title }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ section }}</li>
{% endblock breadcrumb %}

{% block title %}Section Detail{% endblock title %}

{% block content %}

    {% if plan_ownership == 'owned' %}

        <div class="main">
            <div class="row">
                <section class="col-md-8">
                    <div class="card">
                        <div class="card-header">{{ section.title }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ section.description }}</p>
                        </div>
                    </div>
                </section>
                <aside class="col-md-4">
                    <div class="card">
                        <div class="card-header">Activities</div>
                        <ul class="list-group list-group-flush">
                            {% for activity in section.activity_set.all %}
                            <li class="list-group-item">
                                <a href="{{ activity.get_absolute_url }}">
                                    {{ activity.activity_number}}. {{ activity.activity_title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </aside>
            </div>
        </div>

    {% else %}

        <div class="text-center">
            <h3>You do not have access to this plan.<a href="{{ section.plan.get_absolute_url }}">Purchase it now</a></h3>
            <img src="{% static 'images/no-access.png' %}" />
        </div>

    {% endif %}

{% endblock content %}